<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contacto</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Estilos en Css -->
    <style>
      .slider{
        background: url("images/bg-1.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center; 
      }
    </style>

        
  </head>
  <body>
      <!-- ESTO DEBERÍA SER EL ENCABEZADO -->
      <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm sticky-top">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="index.html">
              <img src="images/3.png" width=50% height=50% class="d-inline-block align-top" alt="Logo">
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <div class="navbar-nav mr-auto ml-auto text-center">
                  <a class="nav-item nav-link active" href="index.html">LOGIN</a>
                  <a class="nav-item nav-link" href="#">REGISTRO</a>
                  <a class="nav-item nav-link" href="servicios.html">CARRITO</a>
                 
              </div>
              
          </div>
      </nav>
      <!-- fin menú de navegación -->
      <!-- menú de navegación -->
      <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm sticky-top">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="index.html">
              
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <div class="navbar-nav mr-auto ml-auto text-center">
                  <a class="nav-item nav-link active" href="index.html">Inicio</a>
                  <a class="nav-item nav-link" href="#">Categorías</a>
                  <a class="nav-item nav-link" href="#">Nuevo Producto</a>
                  <a class="nav-item nav-link" href="servicios.html">Acerca de...</a>
                  <a class="nav-item nav-link" href="#">Contacto</a>
              </div>
              
          </div>
      </nav>
      <!-- fin menú de navegación -->
      <!-- Formulario 1 -->

      <div class="container-fluid bg-success">
          <section class="container py-5 mt-5">
              <h3 class="text-uppercase text-center mb-4 pt-5 text-white">Formulario de contacto</h3>
              <p class="lead text-center mb-4 text-white">POR AHÍ LO MEJOR ES QUE ESTE FORMULARIO DEL OJTE VAY EN OTRA PAGINA</p>

              <form action="" class="form-inline flex-column flex-md-row justify-content-center">
                  <div class="form-group mx-3 my-3">
                      <label for="" class="mx-3 text-white">Nombre:</label>
                      <input type="text" placeholder="Escribe tu nombre aquí" class="form-control">
                  </div>
                  <div class="form-group mx-3 my-3">
                      <label for="" class="mx-3 text-white">Email:</label>
                      <input type="email" placeholder="Escribe tu email" class="form-control">
                  </div>
                  <div class="form-group mx-3 my-3">
                      <button class="btn btn-primary">Enviar</button>
                  </div>
              </form>
          </section>
      </div>

      <!-- fin Formulario 1 -->
      <!-- Footer -->
      <footer class="container-fluid bg-inverse">
          <div class="row text-white py-4 text-white">
              <div class="col-md-3">
                  <img src="images/bootstrap-solid.svg" alt="" width="50px" height="auto" class="float-left mr-3">
                  <h4 class="lead">Bootstrap 4!</h4>
                  <footer class="blockquote-footer">Curso gratis por <cite title="Source Title">Bluuweb</cite></footer>
              </div>
              <div class="col-md-3">
                  <h4 class="lead">Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, fugit?</p>
              </div>
              <div class="col-md-3">
                  <h4 class="lead">Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quidem!</p>
              </div>
              <div class="col-md-3">
                  <h4 class="lead">Síguenos</h4>
                  <a href="#"><span class="badge badge-primary">Facebook</span></a>
                  <a href="#"><span class="badge badge-danger">Youtube</span></a>
              </div>
          </div>
      </footer>
      <!-- Fin Footer -->
      <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="js/bootstrap.min.js"></script>
  </body>
</html>